table{
    margin: auto;
    margin-top: 20px;
    width: 80%;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}
td, th{
    border: 2px solid black;
}

table[id='bio-table']{
    color: rgb(71, 52, 192);
}
table[id='members']{
    color: rgb(167, 10, 23);

}